body{
  background-color: red
}


h1{
  color: pink
}
 p{
   color: :blue
 }

.div1{
   background-color: black;
   border-color:yellow;
   color:black;
  font-size:45px;
}

.div2{
 color:blue;
 font-size:50px;

}
